<%= form_for(@mailtemplate) do |f| %>
  <% if @mailtemplate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mailtemplate.errors.count, "error") %> prohibited this mailtemplate from being saved:</h2>

      <ul>
      <% @mailtemplate.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :banner %><br>
    <%= f.text_area :banner %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :trailer %><br>
    <%= f.text_area :trailer %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
