<h1><b>メインメニュー</b></h1>
<br>
<p><%= link_to '案件一覧', ankens_path %></p>
<p><%= link_to '受注予定検索', 'ankens/jchy_index' %></p>
<p><%= link_to '売上予定検索', uriys_path %></p>
<p><%= link_to '売上実績検索', urijs_path %></p>
<br>
<p><%= link_to '売上予定フォロー(部門)', 'uriys/bmns_tobe_sent' %></p>
<p><%= link_to '売上予定フォロー(社員)', 'uriys/shains_tobe_sent' %></p>
<br>
<br>
<b>マスタ管理</b>
<br>
<p><%= link_to '社員一覧', shains_path %></p>
<p><%= link_to '部門一覧', bmns_path %></p>
<p><%= link_to '顧客一覧', kkks_path %></p>
<br>
<p><%= link_to 'メールテンプレート', mailtemplates_path %></p>
<br>
<br>
