<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @urij.year %>
</p>

<p>
  <strong>Month:</strong>
  <%= @urij.month %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @urij.amount %>
</p>

<p>
  <strong>Anken:</strong>
  <%= @urij.anken_id %>
</p>

<%= link_to 'Edit', edit_urij_path(@urij) %> |
<%= link_to 'Back', urijs_path %>
