<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @kkk.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @kkk.name %>
</p>

<%= link_to 'Edit', edit_kkk_path(@kkk) %> |
<%= link_to 'Back', kkks_path %>
