<%= javascript_include_tag "clear_fields" %>
<h1>送信済一覧（社員）</h1>
<table>
  <thead>
    <tr>
      <th>送信済</th>
      <th>社員コード</th>
      <th>氏名</th>
      <th>メール</th>
    </tr>
  </thead>

  <tbody>
    <% @shains_sent.each do |shain| %>
      <tr>
        <td><%= shain.code %></td>
        <td><%= shain.name %></td>
        <td><%= shain.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<h1>未送信一覧（社員）</h1>
<table>
  <thead>
    <tr>
      <th>送信済</th>
      <th>社員コード</th>
      <th>氏名</th>
      <th>メール</th>
    </tr>
  </thead>

  <tbody>
    <% @shains_unsent.each do |shain| %>
      <tr>
        <td><%= shain.code %></td>
        <td><%= shain.name %></td>
        <td><%= shain.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "メインメニュー", '/' %>
