<%= form_for(@uribunya) do |f| %>
  <% if @uribunya.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@uribunya.errors.count, "error") %> prohibited this uribunya from being saved:</h2>

      <ul>
      <% @uribunya.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %><br>
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
