<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @uribunya.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @uribunya.name %>
</p>

<%= link_to 'Edit', edit_uribunya_path(@uribunya) %> |
<%= link_to 'Back', uribunyas_path %>
