<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @anken.status %>
</p>

<p>
  <strong>Mitmr no:</strong>
  <%= @anken.mitmr_no %>
</p>

<p>
  <strong>Mitmr eda no:</strong>
  <%= @anken.mitmr_eda_no %>
</p>

<p>
  <strong>Kkk:</strong>
  <%= @anken.kkk_id %>
</p>

<p>
  <strong>Sk bmn:</strong>
  <%= @anken.sk_bmn_id %>
</p>

<p>
  <strong>Sk shain:</strong>
  <%= @anken.sk_shain_id %>
</p>

<p>
  <strong>E bmn:</strong>
  <%= @anken.e_bmn_id %>
</p>

<p>
  <strong>E shain:</strong>
  <%= @anken.e_shain_id %>
</p>

<p>
  <strong>Mitmr name:</strong>
  <%= @anken.mitmr_name %>
</p>

<p>
  <strong>Jch name:</strong>
  <%= @anken.jch_name %>
</p>

<p>
  <strong>Prj name:</strong>
  <%= @anken.prj_name %>
</p>

<p>
  <strong>Prj code:</strong>
  <%= @anken.prj_code %>
</p>

<p>
  <strong>Hiyo kbn:</strong>
  <%= @anken.hiyo_kbn %>
</p>

<p>
  <strong>Uribunya:</strong>
  <%= @anken.uribunya_id %>
</p>

<p>
  <strong>Shubetsu:</strong>
  <%= @anken.shubetsu %>
</p>

<p>
  <strong>Theme2:</strong>
  <%= @anken.theme2 %>
</p>

<p>
  <strong>Enduser:</strong>
  <%= @anken.enduser_id %>
</p>

<p>
  <strong>Uri project:</strong>
  <%= @anken.uri_project %>
</p>

<p>
  <strong>Nensho yosan:</strong>
  <%= @anken.nensho_yosan %>
</p>

<p>
  <strong>Kingaku:</strong>
  <%= @anken.kingaku %>
</p>

<p>
  <strong>Jch yotei date:</strong>
  <%= @anken.jch_yotei_date %>
</p>

<p>
  <strong>Jch no:</strong>
  <%= @anken.jch_no %>
</p>

<p>
  <strong>Jch date:</strong>
  <%= @anken.jch_date %>
</p>

<p>
  <strong>Snksgy sn date:</strong>
  <%= @anken.snksgy_sn_date %>
</p>

<p>
  <strong>Snksgy sign:</strong>
  <%= @anken.snksgy_sign %>
</p>

<p>
  <strong>Genka kingaku:</strong>
  <%= @anken.genka_kingaku %>
</p>

<p>
  <strong>Jch arari kingaku:</strong>
  <%= @anken.jch_arari_kingaku %>
</p>

<p>
  <strong>Jch arari rate:</strong>
  <%= @anken.jch_arari_rate %>
</p>

<p>
  <strong>Uri y zennen:</strong>
  <%= @anken.uri_y_zennen %>
</p>

<p>
  <strong>Uri y jinen:</strong>
  <%= @anken.uri_y_jinen %>
</p>

<p>
  <strong>Uri y final:</strong>
  <%= @anken.uri_y_final %>
</p>

<p>
  <strong>Uri j zennen:</strong>
  <%= @anken.uri_j_zennen %>
</p>

<p>
  <strong>Uri j jinen:</strong>
  <%= @anken.uri_j_jinen %>
</p>

<p>
  <strong>Jch kakudo:</strong>
  <%= @anken.jch_kakudo %>
</p>

<p>
  <strong>Eigyo comment:</strong>
  <%= @anken.eigyo_comment %>
</p>

<p>
  <strong>Jky memo comp:</strong>
  <%= @anken.jky_memo_comp %>
</p>

<p>
  <strong>Jky memo keyman:</strong>
  <%= @anken.jky_memo_keyman %>
</p>

<p>
  <strong>Jky memo kadai:</strong>
  <%= @anken.jky_memo_kadai %>
</p>

<p>
  <strong>Teian irai date:</strong>
  <%= @anken.teian_irai_date %>
</p>

<p>
  <strong>Teian date:</strong>
  <%= @anken.teian_date %>
</p>

<p>
  <strong>C hacchusho no:</strong>
  <%= @anken.c_hacchusho_no %>
</p>

<p>
  <strong>Mtmr irai date:</strong>
  <%= @anken.mtmr_irai_date %>
</p>

<p>
  <strong>Mtmr kaito kigen date:</strong>
  <%= @anken.mtmr_kaito_kigen_date %>
</p>

<p>
  <strong>Mtmr date:</strong>
  <%= @anken.mtmr_date %>
</p>

<p>
  <strong>Anken chusi date:</strong>
  <%= @anken.anken_chusi_date %>
</p>

<p>
  <strong>Anken kanryo date:</strong>
  <%= @anken.anken_kanryo_date %>
</p>

<p>
  <strong>Anken syukka date:</strong>
  <%= @anken.anken_syukka_date %>
</p>

<p>
  <strong>Seikyusho:</strong>
  <%= @anken.seikyusho %>
</p>

<p>
  <strong>Seikyusho date:</strong>
  <%= @anken.seikyusho_date %>
</p>

<p>
  <strong>Gassan seikyu date:</strong>
  <%= @anken.gassan_seikyu_date %>
</p>

<p>
  <strong>Anken kbn:</strong>
  <%= @anken.anken_kbn %>
</p>

<p>
  <strong>E shain:</strong>
  <%= @anken.e_shain_id %>
</p>

<p>
  <strong>Jch bmn:</strong>
  <%= @anken.jch_bmn_id %>
</p>

<p>
  <strong>Sei shain:</strong>
  <%= @anken.sei_shain_id %>
</p>

<p>
  <strong>Sei bmn:</strong>
  <%= @anken.sei_bmn_id %>
</p>

<p>
  <strong>Jch status:</strong>
  <%= @anken.jch_status %>
</p>

<p>
  <strong>Seikyu status:</strong>
  <%= @anken.seikyu_status %>
</p>

<p>
  <strong>Sakusei step:</strong>
  <%= @anken.sakusei_step %>
</p>

<p>
  <strong>Renban:</strong>
  <%= @anken.renban %>
</p>

<%= link_to 'Edit', edit_anken_path(@anken) %> |
<%= link_to 'Back', ankens_path %>
